
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Montserrat:wght@200&display=swap');

//colors
$black:#352e28;
$dark-green:#3d5d52;
$orange:#c98f61;
$grey:#a5b2ab;
$light-orange:#d3b8a5;

//fonts
$montserrat: 'Montserrat';

body{
   // background-color: $light-orange;
    font-family: $montserrat;
   background-color: rgba($grey,0.1);
font-weight: bold;

}

.login{
    color: #3d5d52;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.loginBox{ 
    
   background-color: rgba(black,0.1);
    width: auto;
    padding: 20px;
    

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  

}
.loginForm{
    display: block;
  width: 300px;
  padding: 30px;
  padding-top: 25%;
  padding-bottom: 20%;
text-align: center;


p{
    text-decoration: underline;
}
p:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
}
.emailBox,.passwordBox{
    display: flex;
align-items: center;
padding: 6px;
margin-top: 20px;



  input{
       
        color: black;
        font-family: $montserrat;
        height: 38px;
        border: none;
        width:100%;
        font-weight: bold;
        font-size: 17px;
     }

}

.loginLogo{
    position: absolute;
    z-index: 1;

    left: 32%;

bottom: 85%;




img{width: 140px;}
    
  

}
.iconlg{
    width: 24px;
    height: 24px;
    padding: 8px;
    background-color:black;
    color:white;
    border-radius: 10%;
    
}

.loginBtn{
     background-color: black;
     font-family: $montserrat;
     position: absolute;
     z-index: 1;
left: 20%;
    top:96%;
    text-align: center;
    
    width: 60%;
height: 40px;

  
  button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-top: 8px;



color: rgba(255, 255, 255, 0.973);
}

}
.loginBtn:hover{cursor: pointer;
    background-color: white;
    border: solid 1px black;
    button{
    color: black;}

}
button:hover{
    cursor: pointer;
}


@media (max-height:736px){
    .loginBox{
        padding: 0;
        background-color: transparent;
        
    }
    .loginLogo{
        img{display: none;}
    }
}