@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');.list {
  font-family: 'Roboto', sans-serif;

    display: flex;
    width: 100%;
    .listContainer {
      flex: 6;
     
    }
  }
  